{% load static %}
<footer class="bg-blue-600 text-white py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">

        <div class="mb-12 text-center">
            <h3 class="text-2xl font-bold mb-8">Realização</h3>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-8 items-center justify-center">
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/realizacao/logo_secretaria_da_educacao.png' %}" alt="Logo Secretaria da Educação" class="h-16 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/realizacao/logo_ure_sjc.png' %}" alt="Logo Ure SJC" class="h-16 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/realizacao/logo_ciebp.png' %}" alt="Logo Centro de Inovação da Educação Básica Paulista" class="h-16 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/realizacao/logo_unip.png' %}" alt="Logo Universidade Paulista " class="h-16 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/realizacao/logo_jc.png' %}" alt="Logo E. E. João Cursino" class="h-16 object-contain">
                </div>
            </div>
        </div>
        
        <div class="text-center">
            <h3 class="text-2xl font-bold mb-8">Apoio</h3>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-8 items-center">
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_marinha_do_brasil.png' %}" alt="Logo Marina do Brasil" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_dcta.png' %}" alt="Logo DCTA" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_galileo_galilei.png' %}" alt="Logo Instituto Galileo Galilei" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_parque_tecnologico_santos.png' %}" alt="Logo Parque Tecnológico Santos" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_prefeitura_santos.png' %}" alt="Logo Prefeitura Santos" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_cultivotech.png' %}" alt="Logo  Cultivotech" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_nunes.png' %}" alt="Logo Nunes Projetos Incentivados" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_mf.png' %}" alt="Logo Mf Náutica" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_troglio_sports.png' %}" alt="Logo Troglio Sports" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_bse.png' %}" alt="Logo Grupo Bse" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_modirum.png' %}" alt="Logo Modirum Gespi" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_thermas_do_vale.png' %}" alt="Logo Thermas do Vale" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_robo.png' %}" alt="Logo Tesla Robótica Educacional" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_quero_aprender.png' %}" alt="Logo Canal Quero Aprender" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_va.png' %}" alt="Logo VA" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_thiago_gama.png' %}" alt="Logo Thiago Gama Especializações" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_teatro_sergio.png' %}" alt="Logo Teatro Sergio Mamberti" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_instituto_digital.png' %}" alt="Logo Instituto Digital" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_dsa.png' %}" alt="Logo DSA" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_sao_francisco.png' %}" alt="Logo Mercadinho São Francisco" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_sirvase_bem.png' %}" alt="Logo Sirva-se Bem 2" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_mg_acai.png' %}" alt="Logo Mh, Açaí e frutas congeladas" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_kamila_dias.png' %}" alt="Logo Kamila Dias" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_silvio_del_duca.png' %}" alt="Logo Silvio Del Duca Imagens" class="h-14 object-contain">
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/logos/apoio/logo_vincula_martech.png' %}" alt="Logo Vínculo Martech" class="h-14 object-contain">
                </div>
            </div>
        </div>

    </div>
    
    <div class="border-t border-blue-400 mt-12 pt-8 text-center text-sm">
        <p>&copy; 2025 MOBVAP-MOBTEC. All Rights Reserved.</p>
        <p>Developed and Designed by Matias Pedro Estigarribia</p>
    </div>
</footer>
    