<nav class="flex items-center justify-between w-full">
    <div>
        <h2 class="text-xl font-bold text-white">MOBVAP-MOBTEC</h2>
    </div>
    <div class="flex items-center gap-6">
        <a href="{% url 'home-page' %}" class="text-base font-medium text-blue-200 hover:text-white">Home</a>
        <a href="{% url 'rules-page' %}" class="text-base font-medium text-blue-200 hover:text-white">Regulamento</a>
        <a href="{% url 'editions-list' %}" class="text-base font-medium text-blue-200 hover:text-white">Edições</a>
        <a href="{% url 'comments-page' %}" class="text-base font-medium text-blue-200 hover:text-white">Mural</a>
    </div>
</nav>