{% extends 'base.html' %}

{% block content %}
<section class="py-12 px-4 sm:px-6 lg:px-8 bg-slate-50">
    <div class="max-w-7xl mx-auto">

        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold text-gray-800">Fotos da Edição: {{ edition_name }}</h2>
            <p class="text-lg text-gray-600 mt-2">Navegue pela galeria de imagens do evento.</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
            
            {% for photo in photos %}
            <div class="bg-white rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:scale-105 hover:shadow-xl">
                
                <a target="_blank" href="{{photo.image_file.url}}">
                <img class="w-full" src="{{ photo.image_file.url }}" alt="{{ photo.image_title }}">
                </a>
                

            </div>
            {% empty %}
                <div class="col-span-full text-center py-12">
                    <p class="text-lg text-gray-600">Desculpa, essa edição ainda não possui fotos.</p>
                </div>
            {% endfor %}

        </div>

        <div class="mt-12">
            {% include 'components/pagination.html' %}
        </div>

    </div>
</section>
{% endblock content %}