{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="py-12 px-4 sm:px-6 lg:px-8 bg-slate-50">
    <div class="max-w-7xl mx-auto">

        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold text-gray-800">Vídeos da Edição: {{ edition_name }}</h2>
            <p class="text-lg text-gray-600 mt-2">Clique em uma miniatura para assistir ao vídeo.</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            
            {% for video in page_obj %}
            <a href="{{ video.video_file.url }}" target="_blank" 
               class="group relative block bg-white rounded-lg shadow-md overflow-hidden">
                
                <img class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105" 
                     src="{{ video.thumbnail_display.url }}" 
                     alt="{{ video.video_title }}">
                

                <div class="absolute inset-0 bg-black bg-opacity-20 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <svg class="w-16 h-16 text-white" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path>
                    </svg>
                </div>
            </a>
            {% empty %}
            <div class="col-span-full text-center py-12">
                <p class="text-lg text-gray-600">Desculpa, essa edição ainda não possui vídeos.</p>
            </div>
            {% endfor %}

        </div>

        {% if page_obj.has_other_pages %}
        <div class="mt-12">
            {% include 'components/pagination.html' %}
        </div>
        {% endif %}

    </div>
</section>
{% endblock content %}