{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;700&display=swap" rel="stylesheet"/>

    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    
    <title>{% block title %}MOBVAP-MOBTEC{% endblock title %}</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="bg-slate-50 flex flex-col min-h-screen">
    
    <header class="sticky top-0 z-50 w-full">
        {% include 'components/navbar.html' %}
    </header>
    {% if messages %}
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
            {% for message in messages %}
                <div x-data="{ show: true }" x-show="show"
                class="flex justify-between items-center p-4 rounded-md mb-4
                {% if message.tags == 'success' %} bg-green-100 border border-green-400 text-green-700 {% endif %}
                {% if message.tags == 'error' %} bg-red-100 border border-red-400 text-red-700 {% endif %}">
        
        <span>{{ message }}</span>
        
        <button @click="show = false" class="ml-4 text-xl font-bold">&times;</button>
    </div>
    {% endfor %}
</div>
{% endif %}

    <main class="flex-grow mt-20">
    {% block content %}
    {% endblock content %}
    </main>
 
    {% include 'components/footer.html' %}
    
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</body>
</html>
